<div class="gallery-column">
  <div class="piece piece3">
    <a href="../reels.html#j_a">
      <%= image_tag "cp3/IMG_9389.jpg", alt: "alttext" %>
    </a>
    <div class="link_to_video_div">
      <a class="link_to_video" href="../reels#j_a">See Jeanette & Alley's Story</a>
    </div>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece3">
    <a href="../reels.html#j&a">
      <%= image_tag "cp3/IMG_9390.jpg", alt: "alttext" %>
    </a>
    <div class="link_to_video_div">
      <a class="link_to_video" href="../reels.html#j_a">See Jeanette & Alley's Story</a>
    </div>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece3">
    <a href="../reels.html#minah">
      <%= image_tag "cp3/IMG_6772.jpg", alt: "alttext" %>
    </a>
    <div class="link_to_video_div">
      <a class="link_to_video" href="../reels.html#minah">See Minah's Story</a>
    </div>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece3">
    <a href="../reels.html#m_e">
      <%= image_tag "cp3/mark.jpg", alt: "alttext" %>
    </a>
    <div class="link_to_video_div">
      <a class="link_to_video" href="../reels.html#m_e">See Mark & Elwood's Story</a>
    </div>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece3">
    <a href="../reels.html#m_e">
      <%= image_tag "cp3/elwood.jpg", alt: "alttext" %>
    </a>
    <div class="link_to_video_div">
      <a class="link_to_video" href="../reels.html#m_e">See Mark & Elwood's Story</a>
    </div>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece3">
    <a href="../reels.html#iven">
      <%= image_tag "cp3/connection.jpeg", alt: "alttext" %>
    </a>
    <div class="link_to_video_div">
      <a class="link_to_video" href="../reels.html#iven">See Iven's Story</a>
    </div>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9342.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9344.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9345.jpg", alt: "alttext" %>
  </div>
</div>

<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9346.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9347.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9348.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9349.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9350.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9351.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9353.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9354.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9355.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9356.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9357.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9358.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9359.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9360.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9361.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9362.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9364.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9365.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9366.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9367.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9368.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9369.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9370.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9371.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9372.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9373.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9374.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9375.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9376.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9377.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9378.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9379.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9380.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9381.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9382.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9383.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9384.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9385.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9386.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9387.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9388.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9391.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9392.jpg", alt: "alttext" %>
  </div>
</div>
<div class="gallery-column">
  <div class="piece piece2">
      <%= image_tag "cp3/IMG_9393.jpg", alt: "alttext" %>
  </div>
</div>
