<%= render 'shared/navbar' %>

<div class="container-whole">

  <div class="event_header">
    <div class="event_header_text" id="<%= 'event_header_cp3' if @event.id == 3 %>">
      <%= render "shared/event_headers" %>
    </div>
    <div class="event_title">
      <h3><a href="#"><%= @event.title %></a></h3>
    </div>
  </div>


  <div class="gallery">
      <% if @event.id == 3 %>
          <% @pieces.each do |piece| %>
            <div class="gallery-column">
              <div class="piece piece3">
                  <%= link_to piece_path(piece) do %>
                  <%= cl_image_tag piece.picture.key %>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% else %>
        <% @pieces.each do |piece| %>
          <div class="gallery-column">
            <div class="piece piece2">
                <%= cl_image_tag piece.picture.key %>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- assembled pieces -->
      <br>
      <% unless @event.id == 3 %>
      <h2 id="gallery-separator">Sculpture</h2>
      <% end %>



      <% if @event.id == 2 %>
        <div class="gallery-column">
          <div class="piece">
            <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/v1618347749/cp2assembled1_ihsxwf.png") %>
          </div>
        </div><div class="gallery-column">
          <div class="piece">
            <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/v1618348050/Screenshot_2021-04-12_131143_jcyihc.png") %>
          </div>
        </div><div class="gallery-column">
          <div class="piece">
            <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/v1618348051/Screenshot_2021-04-12_131359_utcifm.png") %>
          </div>
        </div><div class="gallery-column">
          <div class="piece">
            <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/v1618348051/Screenshot_2021-04-12_131557_cezga4.png") %>
          </div>
        </div>
        <% elsif @event.id == 1 %>
          <div class="gallery-column">
            <div class="piece">
              <%= image_tag "piece1.jpeg", alt: "piece1" %>
            </div>
          </div>
          <div class="gallery-column">
            <div class="piece">
              <%= image_tag "piece2.jpeg", alt: "piece2" %>
            </div>
          </div>
      <% end %>
  </div>
</div>




