 <nav class="navbar navbar-expand navbar-light  justify-content-between">
    <%= link_to root_path, class: "navbar-brand" do  %>
      <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/c_thumb,w_200,g_face/v1617388886/cardboard/qtvt0hdliq6udwdm3xay.png"), alt: "Employ to Empower" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-center mr-auto mt-2 mt-lg-0">
          <li class="nav-item <%= 'active' if @event.id == 3 %>">
            <a class="nav-link" href="/events/3">CP 3.0</a>
          </li>
          <li class="nav-item <%= 'active' if @event.id == 2 %>">
            <a class="nav-link" href="/events/2">CP 2.0</span></a>
          </li>
          <li class="nav-item <%= 'active' if @event.id == 1 %>">
            <a class="nav-link" href="/events/1">CP 1.0</a>
          </li>
        </ul>
    </div>
  </nav>

<div class="container-whole">

  <div class="header">
    <h2 style="font-weight: 200"><%= @event.title %></h2>
    <hr>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro distinctio sapiente deserunt laboriosam, voluptate repellendus rerum quia reiciendis quod sed neque atque delectus sequi eaque aliquam maiores mollitia quisquam odio.</p>
  </div>


  <div class="gallery">
        <% @pieces.each do |piece| %>
          <div class="gallery-column">
            <div class="piece">
                <%= link_to piece_path(piece) do %>
                <%= cl_image_tag piece.picture.key %>
                <% end %>
              <!-- <p class="piece-info-text"><#%= piece.artist.name %> - <%= piece.event.year %> - cardboard </p> -->
            </div>
          </div>
        <% end %>
  </div>
</div>


