 <nav class="navbar navbar-expand navbar-light  justify-content-between">
    <%= link_to event_path(3), class: "navbar-brand" do  %>
      <img src="https://res.cloudinary.com/jordannadroj/image/upload/c_thumb,w_200,g_face/v1618649254/cardboard/Logo-ETE-Written_1_lhg56k.png" alt="Employ to Empower" class="dekstop">
      <img src="https://res.cloudinary.com/jordannadroj/image/upload/c_thumb,w_200,g_face/v1618649826/cardboard/Logo-ETE-Black-HalfSize-2019_b9qsaw.png" alt="Employ to Empower" class="mobile">
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-center mr-auto mt-2 mt-lg-0">
          <li class="nav-item <%= 'active' if @event.id == 3 %>">
            <a class="nav-link" href="/events/3">CP 3.0</a>
          </li>
          <li class="nav-item <%= 'active' if @event.id == 2 %>">
            <a class="nav-link" href="/events/2">CP 2.0</span></a>
          </li>
          <li class="nav-item <%= 'active' if @event.id == 1 %>">
            <a class="nav-link" href="/events/1">CP 1.0</a>
          </li>
        </ul>
    </div>
  </nav>

<div class="container-whole">

  <div class="event_header">
    <div class="event_header_text">
      <%= render "shared/event_headers" %>
    </div>
    <div class="event_title">
      <h3><a href="#"><%= @event.title %></a></h3>
    </div>
  </div>


  <div class="gallery">
      <% if @event.id == 3 %>
          <% @pieces.each do |piece| %>
            <div class="gallery-column">
              <div class="piece">
                  <%= link_to piece_path(piece) do %>
                  <%= cl_image_tag piece.picture.key %>
                  <% end %>
              </div>
            </div>
          <% end %>
      <% else %>
        <% @pieces.each do |piece| %>
          <div class="gallery-column">
            <div class="piece">
                <%= cl_image_tag piece.picture.key %>
            </div>
          </div>
        <% end %>
      <% end %>
      <!-- assembled pieces -->
      <br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, eum tempora sequi deserunt quibusdam repellendus consectetur fugit vero quis iure alias accusantium beatae, officiis praesentium recusandae, neque eos, optio. Nisi.</p>
      <% if @event.id == 2 %>
        <div class="gallery-column">
          <div class="piece">
            <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/v1618347749/cp2assembled1_ihsxwf.png") %>
          </div>
        </div><div class="gallery-column">
          <div class="piece">
            <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/v1618348050/Screenshot_2021-04-12_131143_jcyihc.png") %>
          </div>
        </div><div class="gallery-column">
          <div class="piece">
            <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/v1618348051/Screenshot_2021-04-12_131359_utcifm.png") %>
          </div>
        </div><div class="gallery-column">
          <div class="piece">
            <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/v1618348051/Screenshot_2021-04-12_131557_cezga4.png") %>
          </div>
        </div>
      <% end %>
  </div>
</div>




