<div class="container">
  <%= simple_form_for([@event, @piece]) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :artist_id, collection: Artist.all %>
    <%= f.input :event_id, collection: Event.all %>
    <%= f.input :picture, as: :file %>
    <%= f.submit "Add Piece", class: "btn btn-primary" %>
  <% end %>
</div>
