<nav class="navbar navbar-expand navbar-light  justify-content-between">
    <%= link_to event_path(3), class: "navbar-brand" do  %>
      <%= cl_image_tag ("https://res.cloudinary.com/jordannadroj/image/upload/c_thumb,w_200,g_face/v1618513027/cardboard/ete-logo-3_irlqp4.png"), alt: "Employ to Empower" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav navbar-center mr-auto mt-2 mt-lg-0">
          <li class="nav-item <%= 'active' if @piece.event.id == 3 %>">
            <a class="nav-link" href="/events/3">CP 3.0</a>
          </li>
          <li class="nav-item <%= 'active' if @piece.event.id == 2 %>">
            <a class="nav-link" href="/events/2">CP 2.0</span></a>
          </li>
          <li class="nav-item <%= 'active' if @piece.event.id == 1 %>">
            <a class="nav-link" href="/events/1">CP 1.0</a>
          </li>
        </ul>
    </div>
  </nav>
<div class="container-show">
  <br>
  <br>
  <br>
  <h1><%= @piece.title %> <span style="color: #d13b2c;"> | </span> <span style="font-weight: 200;"><%= @piece.artist.name %></span></h1>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-xl-8">
      <div>
        <%= cl_image_tag @piece.picture.key, class: "show-photo" %>
      </div>
    </div>
    <div class="col-xl-4">
      <%#= @piece.description %>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam laboriosam repellendus esse perspiciatis assumenda fugit eaque cupiditate ut asperiores obcaecati dolorum, ex in molestiae explicabo, ea soluta! Blanditiis, recusandae, fuga!</p>
      <br>
      <h3>Location</h3>
      <p>Vancouver</p>
      <br>
      <h3>Materials</h3>
      <p>cardboard</p>
    </div>
  </div>
</div>
