

<div class="container-fluid">
  <div class="row">
    <!-- left navbar -->
    <div class="navbar col-1" id="navbarToggleExternalContent">
      <!-- logo -->
      <%= link_to root_path do %>
         <%= image_tag "ete-logo-3.png", alt: "alttext", class: "logo" %>
      <% end %>

      <div class="navigation">
        <ul>
        <li><a href="#">CP 2.0</a></li>
        <li><a href="#">CP 1.0</a></li>
        <li><a href="#">About</a></li>

        </ul>
      </div>
    </div>
    <!-- end of navbar -->

    <!-- gallery -->
    <div class="gallery col-11">
      <div class="gallery-column">
       <%= image_tag "piece1", alt: "alttext" %>
       <%= image_tag "piece2", alt: "alttext" %>
       <%= image_tag "piece7", alt: "alttext" %>

      </div>
      <div class="gallery-column">
       <%= image_tag "piece3", alt: "alttext" %>
       <img src="https://picsum.photos/400" alt="">
       <%= image_tag "piece4", alt: "alttext" %>
      </div>
      <div class="gallery-column">
       <img src="https://picsum.photos/400" alt="">
      <%= image_tag "piece5", alt: "alttext" %>
      <%= image_tag "piece6", alt: "alttext" %>
      <%= image_tag "piece8", alt: "alttext" %>
      </div>
    </div>
  </div>
</div>
