<%= render 'shared/navbar' %>


<div class="banner-reels">
  <a href="/events/3" id="back-arrow-link">
    <p id="back-arrow-reels">&larr; Cardboard Project 3.0</p>
  </a>
  <div class="container" style="margin-top: 60px;">
    <h1>Employ to Empower Entrepreneur CP 3.0 Video Responses</h1>
    <hr>
    <p class="reels_p">Residents in the Downtown Eastside who complete Employ to Empower's (ETE) Development program have the opportunity to join the Entrepreneurship program. Entrepreneurs in the program are supported by business professionals through personalized weekly mentorship sessions and have access to affordable microloans. ETE's goal is for our entrepreneurs to have a long-term sustainable economic effect on our members.</p>
    <br>
    <p class="reels_p">This year, we dove deeper into some of ETE's entrepreneurs' experiences in line with Cardboard Project 3.0's theme of Connection in Social Isolation."</p>
  </div>
</div>


<div class="banner" id="j_a" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "cp3/IMG_9389.jpg", alt: "alttext" %>);">
  <a href="/events/3" class="back-arrow-videos">
    <p class="back-arrow-videos">&larr; Cardboard Project 3.0</p>
  </a>
  <div class="container video-container">
    <iframe type="text/html" class="responsive-iframe" width="720" height="405" src="https://www.youtube.com/embed/mU1TN0jMi70?cc_load_policy=1&cc_lang_pref=en" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="banner" id="minah" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "cp3/IMG_6772.jpg", alt: "alttext" %>);">
  <a href="/events/3" class="back-arrow-videos">
    <p class="back-arrow-videos">&larr; Cardboard Project 3.0</p>
  </a>
  <div class="container video-container">
    <iframe type="text/html" class="responsive-iframe" width="720" height="405" src="https://www.youtube.com/embed/eC4F8hoozME?cc_load_policy=1&cc_lang_pref=en" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="banner" id="m_e" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "cp3/elwood.jpg", alt: "alttext" %>);">
  <a href="/events/3" class="back-arrow-videos">
    <p class="back-arrow-videos">&larr; Cardboard Project 3.0</p>
  </a>
  <div class="container video-container">
    <iframe type="text/html" class="responsive-iframe" width="720" height="405" src="https://www.youtube.com/embed/YHxc46RoD9g?cc_load_policy=1&cc_lang_pref=en" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="banner" id="iven" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path "cp3/connection.jpg", alt: "alttext" %>);">
  <a href="/events/3" class="back-arrow-videos">
    <p class="back-arrow-videos">&larr; Cardboard Project 3.0</p>
  </a>
  <div class="container video-container">
    <iframe type="text/html" class="responsive-iframe" width="720" height="405" src="https://www.youtube.com/embed/LDjH8zUV7Ls?cc_load_policy=1&cc_lang_pref=en" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

